root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# C# code style
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Nullability
dotnet_style_coalesce_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Naming
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = warning
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interface
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = begins_with_i

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# Analyzer severities
dotnet_analyzer_diagnostic.category-security.severity = warning
dotnet_analyzer_diagnostic.category-reliability.severity = warning
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1873.severity = none

[**/Program.cs]
dotnet_diagnostic.CA1050.severity = none

[src/BlaInterview.Api.Shared/**.cs]
dotnet_diagnostic.CA1716.severity = none

[**/Migrations/**.cs]
dotnet_diagnostic.IDE0161.severity = none

[tests/**.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1816.severity = none

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{package.json,package-lock.json}]
indent_size = 2
